:root {
    --color-primary: #16325B;
    --color-secondary: #F4EDE5;
    --color-tertiary: #E6DACE;
}

@media (min-width: 768px) {
    .img-project{
        width: 300px;
        height: 260px;
    }
}

@media (max-width: 768px) {
    .hide {
        display: none;
    }
    #navbar {
        background-color: var(--color-secondary);
        padding: 8px;
        border-radius: 10px;
        line-height: 2;
    }

    .nav-text{
        font-size: x-small;
    }

    .img-project{
        width: 100%;
        height: 150px;
    }
}