<footer class="row justify-content-md-between justify-content-start p-5 pb-3">
    <p
        class="col-12 col-md-4 mb-1 fw-bold d-flex text-center text-start fs-6 order-2 justify-content-md-start justify-content-center order-md-1 userColor">
        &copy;2024 by Trần Quốc Cường</p>
    <ul
        class="row col-12 col-md-6 list-unstyled d-flex flex-column flex-md-row justify-content-md-start align-items-center text-center text-md-start p-0 order-1 order-md-2">
        <li class="col-12 col-md-5 align-items-center d-flex me-md-4 my-2 my-md-0">
            <p class="mb-0 me-2 fw-bold userColor">Phone:</p>
            <a href="tel:+84389433762" class="hover text-decoration-none text-reset">+84 389433762</a>
        </li>
        <li class="col-12 col-md-5 align-items-center d-flex my-2 my-md-0">
            <p class="mb-0 me-2 fw-bold userColor">Email:</p>
            <a href="mailto:trancuong13112005@gmail.com"
                class="hover text-decoration-none text-reset">trancuong13112005@gmail.com</a>
        </li>
        <li class="col-12 col-md-5 align-items-center d-flex my-2 my-md-0">
            <p class="me-2 fw-bold userColor">Address:</p>
            <p style="white-space: nowrap;">Bac Giang, Viet Nam</p>
        </li>
    </ul>
</footer>