<header class="row justify-content-between align-items-center p-4">
    <div class="col-12 col-md-5 d-flex align-items-center text-start mb-md-0 mb-3">
        <p class="ti-layout-grid2-alt text-uppercase fw-bold mb-0 me-3 text-primary-emphasis"></p>
        <div>
            <h4 class="text-uppercase fw-bold mb-0 userColor">Trần Quốc Cường</h4>
            <h5 class="fw-light mb-0 fs-6">Pentester</h5>
        </div>
    </div>
        
    <nav class="col-12 col-md-7 mt-3 mt-md-0 d-flex justify-content-center justify-content-md-end align-items-center" id="navbar">
        <ul class="d-flex justify-content-md-end justify-content-center align-items-center flex-wrap list-unstyled fw-bold mb-0 ">
            <li class="hover me-4 mb-md-0 text-uppercase nav-text"><a href="/index.html" class="text-decoration-none userColor">About me</a></li>
            <li class="hover me-4 mb-md-0 text-uppercase nav-text"><a href="/pages/project.html" class="text-decoration-none userColor">Projects</a></li>
            <li class="hover me-4 mb-md-0 text-uppercase nav-text"><a href="/pages/resume.html" class="text-decoration-none userColor">Resume</a></li>
            <li class="hover mb-md-0 text-uppercase nav-text"><a href="/pages/contact.html" class="text-decoration-none userColor">Contact</a></li>
        </ul>
    </nav>
</header>
